.header {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #1b64da;
    text-decoration: none;
}

.header-links a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.header-links a:hover {
    color: #1b64da;
}

.header-nav {
    display: flex;
    justify-content: center;
    position: relative; /* submenu-bar 위치 기준 */
    border-top: 1px solid #ddd;
}

.header-menu {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.menu-item {
    position: relative;
    cursor: pointer;
}

.menu-item:hover {
    color: #1b64da;
}

.header-menu a,
.menu-item > span,
.menu-item > a {
    text-decoration: none;
    color: #000; /* 전체 메뉴 글씨 검은색 */
    font-size: 22px;
    font-weight: bold;
}

.header-menu a:hover,
.menu-item:hover > span,
.menu-item:hover > a {
    color: #1b64da; /* hover 시 파란색 */
}

/* 네비게이션 아래 전체 div */
.submenu-bar {
    position: absolute;
    top: 100%; /* nav 바로 밑 */
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #ddd;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    opacity: 0;
    transform: translateY(-10px); /* 위에서 내려오는 시작점 */
    animation: slideDown 0.25s ease forwards;
    z-index: 100;
}

.submenu-bar ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.submenu-bar a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
}

.submenu-bar a:hover {
    color: #1b64da;
}

/* 내려오는 애니메이션 정의 */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px); /* 위에서 시작 */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* 제자리 */
    }
}
